/* Center the content in the page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin: -100px auto;
  height: 100vh;
}

/* Style the title */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
    color: #fff;
}

/* Style the paragraph */
p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
    color: #fff;
}

/* Style the logout button */
a {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
    background-color: rgb(2,0,36);

}

a:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#main-body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}